{% extends 'cms/base.html' %}

{% block title %}About | {% endblock %}

{% block content %}
<section class="hero is-medium is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">プロジェクトの「GitHub」</h1>
            <h2 class="subtitle">東京大学・大学院の学生専用のプロジェクト紹介サイト</h2>
        </div>
    </div>
</section>
<section class="section is-medium">
    <div class="container">
        <div class="has-text-centered">
            <h1 class="title">Section</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
</section>
{% endblock %}